*
{
	margin: 0;
	padding: 0;
}


div.a
{

	position: absolute;
	border-style: solid;
	border-width: 0;
	border-color:  white;
	width: 1000px;
	height: 150px;
	float: right;

}

div.b
{
	position: absolute;
	border-style: solid;
	border-width: 0;
	border-color: white;
	height: 150px;
	width: 400px;
right:0PX;

}

.navbar-inverse {
    background-color: blue;
    border-color: blue;
}