
body
{
	background-color:#000080;
	color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000080;
}

li a {
    float: right;
}

li a {
    display:inline-block;
    color: white;
    text-align: center;
    width: 50px;
    padding: 14px 16px;
    text-decoration: none;
}
li em
{
	display: block;
}



li a:hover:not(.active) {
    background-color: #011;
}
.active{
	background-color: #4CAF50;
}