body
{
	background-color: #000080;
}
h3
{
	color: white;
	text-align: center;
}


div.a
{
	position: absolute;
	border-style: solid;
	border-color: #48D1CC;
	text-align: center;
	color: #48D1cc;
	width: 250px;
	height: 20px;
	padding: 15px;
	left: 380px;
	bottom:80px;

}
div.b
{
	position: absolute;
	border-style: solid;
	border-color: #48D1CC;
	text-align: center;
	color: #48D1CC;
	width: 250px;
	height: 20px;
	padding: 15px;
	right: 380px;
	bottom:80px;

}